.createWorkoutContainer{
    background-color: rgb(255, 255, 255);
}

.createWorkoutName{
    background-color: rgb(224, 224, 224);
    color: black;
    font-size: 14px;
    font-family: "Poppins";
    padding: 10px;
    outline: none;
}

.createWorkoutName::placeholder{
    color: rgba(0, 0, 0, 0.373);
    text-align: center;
    font-size: 16px;
}

.selectionBox:active{
    outline: none;
}

.addExerciseButton{
    border: none;
    background-color: green;
    color: white;
}

.addExerciseButton:hover{
    cursor: pointer;
    background-color: rgb(255, 190, 12) ;
    transition: all 0.3s ease-in-out;
}

.spanExName{
    font-family: "Poppins";
    font-weight: 500;
}

.exerciseSliderList{
    font-family: "Poppins";
}

.sendWorkoutForCreation{
    background-color: rgb(8, 23, 63);
    color: white;
}

.sendWorkoutForCreation:hover{
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}