.password-wrapper {
    position: relative;
}

.eye-icon {
    color: #898383;
    position: absolute;
    left: 90%;
    top: 20%;
}

.eye-icon:hover{
    cursor: pointer;
    opacity: 0.75;
}

input {
    background-color: #d6d6d6;
    border: none;
    outline: none;
    margin-bottom: 8px;
    font-family: Helvetica, sans-serif;
    padding-left: 7px;
    font-size: 13px;
    box-sizing: border-box;
}

input[type="password"] {
    font-family: Helvetica, sans-serif;
}

input:focus {
    background-color: #d2d2d279;
    font-family: Helvetica, sans-serif;
}

input::placeholder{
    opacity: 0.5;
}
