.logo-text{
    font-family: "Montserrat";
    font-weight: 550;
}

.registrationToggle{
    font-family: "Inter";
    font-weight: 350;
    position: relative;  /* Ensure it doesn't float */
}

.registrationToggle button{
    font-family: "Roboto";
    font-weight: 400;
}







