.logo-text{
    font-family: "Montserrat";
    font-weight: 550;
}

.registrationToggle{
    font-family: "Inter";
    font-weight: 350;
    position: relative;  /* Ensure it doesn't float */
}

.registrationToggle button{
    padding: 10px;
    background-color: aqua;
}

.SignIn{
}







