
.appPagesContainer {
  height: 100vh;          
  display: flex;
  padding-top: 56px;      
}

.appPagesContentContainer {
  flex: 1;                
  overflow-y: auto;       
  background-color: rgba(25, 25, 25, 0); 
  border-radius: 12px;
  padding: 15px;
  margin-top: 20px;
}

.absoluteSideBar{
  transition: transform 0.3s ease-in-out; 
  transform: translateX(-100%);  
  will-change: transform;
  background-color: rgb(40, 46, 59);
  
}

.absoluteSideBar.show{
  transform: translateX(0);  
   
}

.closeIcon{
  color: white;
  font-size: 20px;
  
}

.closeIcon:hover{
  cursor: pointer;
  opacity: 0.7;
}

.barSelector{
    font-family: "Inter";
    font-weight: 200;
    color: rgb(219, 219, 219);
    font-size: 14px;
    padding: 10px;

}

.barSelector button:hover{
    cursor: pointer;
    color: white;
    transform: translateY(-1px);
    transition: all 0.3s ease-in-out;
}

.barSelector button:active{
    color: rgb(219, 219, 219);
    transition: all 0.1s ease-in-out;
}

.selectedDiv{
    background-color: #ffbd59;
    transform: translateY(-2px);
    color: black;
    font-family: "Inter";
    font-weight: 200;
    font-size: 14px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}